body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #c9c8c7;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background-color: #f2f0ef;
  border-radius: 15px;
}

.banner {
  margin: 30px 10px;
  background-color: #949392;
  width: 95%;
  height: 100px;
}

.welcome-text {
  margin-bottom: 40px;
}

.txt-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 80%;
}

.txt-input label {
  margin-left: 15px;
}

.txt-input input[type="email"],
.txt-input input[type="password"] {
  height: 30px;
  font-size: 1.2em;
  background-color: #c9c8c7;
  border: 3px solid #c9c8c7;
  border-radius: 15px;
  padding: 0px 15px;
}

button[type="submit"] {
  height: 50px;
  width: 150px;
  border-radius: 25px;
  margin: 30px 0;
  background-color: #f88379;
  border: none;
  color: #f2f0ef;
  font-size: 1em;
}

button[type="submit"]:hover {
  cursor: pointer;
  background-color: #e26f66;
}

button[type="submit"]:active {
  background-color: #cb615a;
}

.form-footer-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: 60%;
}

.form-footer-text hr {
  flex-grow: 1;
}

.form-footer-auth {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 80%;
  margin: 15px 0px 30px 0px;
}

.alternate-signin {
  height: 60px;
  width: 70px;
  background-color: #949392;
}
